@import '../../../styles/variables.scss';

.offer-cat-base {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 2%;
    padding-right: 2%;
}

.productImage {
    max-width: 100%;
    width: 500px;
    object-fit: cover;
    object-position: bottom;
}

.grid-title-container {
 margin: 0 auto;
}

.title-subtitle-base {
    text-align: center;
}

.title {
    font-weight: 900 !important;
    font-size: 25px !important;
}

.subtitle {
    font-size: 15px !important;    
}

.offer-cat-button {
    background-color: #FF058D !important;
    color: white !important;
    margin: auto !important;
    display: block !important;
    margin-top: 5px !important;
    font-size: 12 !important;
}

.title-subtitle-button-container {
    display: table-cell !important;
    vertical-align: middle !important;
}

// @media screen and (min-width:0) and (max-width: $sm) {
//     #offercatimage{
//         width: 100px;
//         padding-right: 50px; 
//     }
// }

// @media screen and (min-width: $sm) and (max-width: $md) {
//     #offercatimage{
//         width: 150px;
//         padding-right: 30px;
//     }
// }

// @media screen and (min-width: $md) {
//     #offercatimage{
//         width: 500px;
//         padding-right: 250px;
//     }
// }